header {
    width: 100%;
    max-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-purple);
    z-index: 100;
    position: sticky;
    top: 0;
}

header ul{
    width: var(--container-width);
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header ul a {
    font-family: 'ruda', sans-serif;
    color: var(--white);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    width: 120px;
    text-align: center;
}

header ul div{
    width: 150px;
    height: 80px;
    position: relative;
    justify-self: center;
}

header ul a.home_button {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    background-color: var(--dark-purple);
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul a:hover {
    text-shadow: 0px 0px 10px var(--white);
}

header ul a img {
    height: 80px;
    width: 80px;
}